<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮生活</title>
    <link rel="stylesheet" href="../static/front_end/fenlei/css/style.css" type="text/css">

</head>
<body>
    <div class="navi">
       <div id="back_zhuye" class="button">
           <img src="../static/front_end/fenlei/image/arrow.png" alt="箭头">
               <div onclick="window.open('{% url "main:main" %}','_self')">主页</div>
       </div>
        <div class="choice">点赞</div>
        <div class="choice">评论</div>
        <div class="choice">转发</div>
        <div class="choice">@我</div>
        <div id="fenqu" class="button" onclick="window.open('{% url "main:login" %}','_self')">
            登入
        </div>
        <div id="search" class="button" onclick="window.open('{% url "main:reg" %}','_self')">
            注册
        </div>
    </div>
    <div class="center">
        <div class="main">
            <div class="head">
                <img src="../static/front_end/fenlei/image/u7.png">
            </div>
<!--核心部分-->
            <p id="flzx">分类中心</p>
            <p id="rxxgjd">让信息分类更简单</p>
            <div class="center_box">
                <div class="index_bar">
                    <div class="index_box" id="pc" onclick="chose_one(this)">拼车</div>
                    <div class="index_box" id="zd" onclick="chose_one(this)">组队</div>
                    <div class="index_box" id="sw" onclick="chose_one(this)">失物</div>
                    <div class="index_box" id="rc" onclick="chose_one(this)">日常</div>
                    <div class="index_box" id="xs" onclick="chose_one(this)">学识</div>
                    <div class="index_box" id="jy" onclick="chose_one(this)">交友</div>
                    <div class="index_box" id="qt" onclick="chose_one(this)">其他</div>
                </div>
<!--                帖子-->
                <!--        每条帖子的模板*********-->
                <div class="item_wrap">
                </div>
                <!--        模板*****************-->
                <!--        每条帖子的模板*********-->
<!--                -->
            </div>

<!---->
        </div>
    </div>
    <script type="text/javascript" rel="script" src="../static/front_end/fenlei/js/js.js">    </script>
</body>
</html>